<?xml version="1.0"?>
<data title="Serfauserhof">
<children hidden="false">
	<title><![CDATA[Rezeption]]></title>
	<file>serfauserhof_0926</file>
	<children hidden="false">
		<title><![CDATA[Rezeption / Lobby]]></title>
		<type>360</type>
		<sound>background.mp3</sound>
		<file>serfauserhof_0926</file>
	</children>
</children>
<children hidden="false">
	<title><![CDATA[Zimmer und Suiten]]></title>
	<file>serfauserhof_0691</file>
	<children hidden="false">
		<title><![CDATA[Doppelzimmer]]></title>
		<file>serfauserhof_0691</file>
		<children hidden="false">
			<title><![CDATA[Wohn- / Schlafraum]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_0691</file>
			<map>map_dz</map>
		</children>
		<children hidden="false">
			<title><![CDATA[Bad]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_0721</file>
			<map>map_dz</map>
		</children>
	</children>
	<children hidden="false">
		<title><![CDATA[Doppelzimmer Komfort]]></title>
		<file>serfauserhof_2593</file>
		<children hidden="false">
			<title><![CDATA[Wohn- / Schlafraum]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_2593</file>
			<map>map_dzkomfort</map>
		</children>
		<children hidden="false">
			<title><![CDATA[Bad]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_2633</file>
			<map>map_dzkomfort</map>
		</children>
	</children>
	<children hidden="false">
		<title><![CDATA[Appartementzimmer 1]]></title>
		<file>serfauserhof_3092</file>
		<children hidden="false">
			<title><![CDATA[Wohn- / Schlafraum]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_3092</file>
			<map>map_app1</map>
		</children>
		<children hidden="false">
			<title><![CDATA[Bad]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_0751</file>
			<map>map_app1</map>
		</children>
	</children>
	<children hidden="false">
		<title><![CDATA[Appartementzimmer 2]]></title>
		<file>serfauserhof_3125</file>
		<children hidden="false">
			<title><![CDATA[Wohn- / Schlafraum]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_3125</file>
			<map>map_app2</map>
		</children>
		<children hidden="false">
			<title><![CDATA[Bad]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_0752</file>
			<map>map_app2</map>
		</children>
	</children>
	<children hidden="false">
		<title><![CDATA[Familienzimmer]]></title>
		<file>serfauserhof_2779</file>
		<children hidden="false">
			<title><![CDATA[Wohn- / Schlafraum]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_2779</file>
			<map>map_familienzimmer</map>
		</children>
		<children hidden="false">
			<title><![CDATA[Kinderzimmer]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_2844</file>
			<map>map_familienzimmer</map>
		</children>
		<children hidden="false">
			<title><![CDATA[Bad]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_2819</file>
			<map>map_familienzimmer</map>
		</children>
	</children>
	<children hidden="false">
		<title><![CDATA[Familien Suite]]></title>
		<file>serfauserhof_2658</file>
		<children hidden="false">
			<title><![CDATA[Wohnzimmer]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_2658</file>
			<map>map_familiensuite</map>
		</children>
		<children hidden="false">
			<title><![CDATA[Schlafzimmer]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_2695</file>
			<map>map_familiensuite</map>
		</children>
		<children hidden="false">
			<title><![CDATA[Bad 1]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_2729</file>
			<map>map_familiensuite</map>
		</children>
		<children hidden="false">
			<title><![CDATA[Bad 2]]></title>
			<type>360</type>
			<sound>background.mp3</sound>
			<file>serfauserhof_2751</file>
			<map>map_familiensuite</map>
		</children>
	</children>
</children>
<children hidden="false">
	<title><![CDATA[Restaurant]]></title>
	<file>serfauserhof_0843</file>
	<children hidden="false">
		<title><![CDATA[Speisesaal 1]]></title>
		<type>360</type>
		<sound>background.mp3</sound>
		<file>serfauserhof_0843</file>
	</children>
	<children hidden="false">
		<title><![CDATA[Speisesaal 2]]></title>
		<type>360</type>
		<sound>background.mp3</sound>
		<file>serfauserhof_0875</file>
	</children>
	<children hidden="false">
		<title><![CDATA[Stube]]></title>
		<type>360</type>
		<sound>background.mp3</sound>
		<file>serfauserhof_0905</file>
	</children>
	<children hidden="false">
		<title><![CDATA[Á la Carte-Restaurant]]></title>
		<type>360</type>
		<sound>background.mp3</sound>
		<file>serfauserhof_0772</file>
	</children>
</children>
<children hidden="false">
	<title><![CDATA[Hallenbad]]></title>
	<file>serfauserhof_0949</file>
	<children hidden="false">
		<title><![CDATA[Hallenbad]]></title>
		<type>360</type>
		<sound>background.mp3</sound>
		<file>serfauserhof_0949</file>
	</children>
</children>
<children hidden="false">
	<title><![CDATA[Saunabereich]]></title>
	<file>serfauserhof_0580</file>
	<children hidden="false">
		<title><![CDATA[Saunarondell]]></title>
		<type>360</type>
		<sound>background.mp3</sound>
		<file>serfauserhof_0580</file>
	</children>
	<children hidden="false">
		<title><![CDATA[Dampfbad]]></title>
		<type>360</type>
		<sound>background.mp3</sound>
		<file>serfauserhof_0634</file>
	</children>
	<children hidden="false">
		<title><![CDATA[Sauna]]></title>
		<type>360</type>
		<sound>background.mp3</sound>
		<file>serfauserhof_0601</file>
	</children>
	<children hidden="false">
		<title><![CDATA[Ruheraum ]]></title>
		<type>360</type>
		<sound>background.mp3</sound>
		<file>serfauserhof_0664</file>
	</children>
</children>
</data>